/* Theme: Material — id=material — category=dark */
body.theme-material {
  background: #263238;
  color: #eeffff;
}

body.theme-material .tab-bar {
  background: #2e3c43;
  border-bottom-color: #37474f;
}

body.theme-material .tab {
  background: #37474f;
  border-color: #546e7a;
  color: #eeffff;
}

body.theme-material .tab.active {
  background: #263238;
  border-color: #82aaff;
}

body.theme-material .toolbar {
  background: #2e3c43;
  border-bottom-color: #37474f;
}

body.theme-material .toolbar button {
  color: #eeffff;
}

body.theme-material .toolbar button:hover {
  background: #37474f;
  border-color: #546e7a;
}

body.theme-material .editor-textarea {
  background: #263238;
  color: #eeffff;
}

body.theme-material .pane:last-child {
  background: #263238;
}

body.theme-material .preview-content {
  color: #eeffff;
}

body.theme-material .preview-content h1,
body.theme-material .preview-content h2 {
  border-bottom-color: #37474f;
  color: #82aaff;
}

body.theme-material .preview-content code {
  background-color: #2e3c43;
}

body.theme-material .preview-content pre {
  background-color: #2e3c43;
}

body.theme-material .preview-content a {
  color: #80cbc4;
}

body.theme-material .status-bar {
  background: #2e3c43;
  border-top-color: #37474f;
  color: #eeffff;
}
